@use '../../../../../src/styles/variables' as vars;

.main-container {
  display: flex;
  gap: 16px;
  width: 100%;

  .dashboard-card {
    flex: 1; // equal width
    display: flex;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }

  .dashboard-card .p-card {
    width: 100%;
    height: 100%;
  }

  .dashboard-card .p-card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.card-title {
  color: #6b7280;
  font-size: 14px;
}

.card-count {
  font-size: vars.$font-size-xlarge;
  color: vars.$dark-font-color;
  font-weight: 700;
  margin-top: 15px;
}

.card-stats {
  font-size: vars.$font-size-medium;
  margin-bottom: 0;
  font-weight: 400;
}
