.main-container {
  display: flex;
  gap: 16px;
  width: 100%;

  .dashboard-card {
    flex: 1; // equal width
    display: flex;
  }

  .dashboard-card .p-card {
    width: 100%;
    height: 100%;
  }

  .dashboard-card .p-card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.card-title {
  color: #6b7280;
  font-size: 14px;
}

.card-count {
  font-size: 28px;
  font-weight: 600;
}

.card-stats {
  font-size: 12px;
}

.up-stats {
  color: green;
}
.normal-stats {
  color: grey;
}
.down-stats {
  color: red;
}
