<!-- Toolbar -->
<div class="card">
    <p-toolbar>
        <ng-template #start>
            <div class="toolbar-header">
                <span class="header-icon">📋</span><span class="header-title"> Task Manager</span>
            </div>
        </ng-template>
        <ng-template #center>
            <input type="text" pInputText placeholder="🔍 Search tasks..." class="search-input" />
        </ng-template>
        <ng-template #end>
            <div class="toolbar-notifications">
                <span class="notifications-icon">🔔</span>
                <span class="notifications-username">JD</span>
            </div>
        </ng-template>
    </p-toolbar>
</div>
<div class="content-area">