@use '../../../styles/variables' as vars;
.toolbar-header {
  .header-icon {
    background-color: vars.$main-color;
    padding: 5px;
    border-radius: 8px;
  }
  .header-title {
    font-weight: 700;
    font-size: 19px;
    color: vars.$main-color;
  }
}
.toolbar-notifications {
  font-size: 15px;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  .notifications-icon {
    padding: 10px;
    border-radius: 20px;
    &:hover {
      background: var(--color-black-5, #0000000d);
    }
  }
  .notifications-username {
    border-radius: 20px;
    color: vars.$white-color;
    background-color: vars.$main-color;
    padding: 10px;
  }
}
.search-input {
  width: 400px;
}
