// Color variables
$main-color: #1976d2;
$white-color: #ffffff;

// Font sizes
$font-size-small: 10px;
$font-size-medium: 11.8px;
$font-size-large: 14px;

//Font-colors
$dark-font-color: #212121;

// Border colors
$border-color: #e0e0e0;
$danger-border-color: #d32f2f;

// Background colors
$danger-background-color: #ffebee;
$light-background-color: white;
$background-color: #f5f7fa;
