@use '../../styles/variables' as vars;
:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-container {
  display: flex;
  flex: 1;
  overflow: hidden;
  .sidebar {
    width: 250px;
    border-right: 1px solid vars.$border-color;
  }
  .content {
    flex: 1;
    padding: 16px;
    overflow: auto;
    background-color: vars.$background-color;
  }
}
