@use '../../../../../src/styles/variables' as vars;

.task-container {
  border-radius: 8px;
  border: 1px solid vars.$border-color;
  padding: 8px 16px;
  .task-priority-tag {
    margin-bottom: 8px;
    span {
      border-radius: 4px;
      padding: 4px 8px;
      font-weight: 700;
      font-size: vars.$font-size-small;
      &.high-priority {
        color: vars.$danger-color;
        background-color: vars.$danger-background-color;
      }
      &.medium-priority {
        color: vars.$success-color;
        background-color: vars.$warn-background-color;
      }
      &.low-priority {
        color: vars.$success-color;
        background-color: vars.$warn-background-color;
      }
    }
  }
  .task-title {
    font-size: vars.$font-size-large;
    color: vars.$dark-font-color;
    font-weight: 700;
  }
  .muted-text,
  .task-tags {
    color: vars.$mute-font-color;
    font-weight: 400;
  }
  .muted-text {
    font-size: vars.$font-size-medium;
  }
  .task-tags {
    font-size: 12px;
  }
  .task-assignee {
    font-weight: 700;
    border-top: 1px solid vars.$border-color;
    padding: 8px 0;
    .assignee-name {
      font-size: vars.$font-size-medium;
      padding: 5px;
      font-weight: 400;
    }

    .assignee-avatar {
      font-size: vars.$font-size-small;
      border-radius: 20px;
      color: vars.$white-color;
      background-color: vars.$main-color;
      padding: 6px;
    }
  }
}
.task-container .p-card-body {
  padding-bottom: 0;
}
.high-priority-task {
  border-left: 4px solid vars.$danger-border-color;
  background-color: vars.$danger-background-color;
}
