<p-card [ngClass]="{ 'high-priority': severity === 'danger' }">
    <ng-template #header>
        <p-tag [severity]="severity" [value]="task().priority | taskPriority" />
    </ng-template>
    <ng-template #title> {{ task().title }} </ng-template>
    <ng-template #subtitle> {{ task().description }} </ng-template>
    @if (task().completedAt) {
    <p>{{ task().completedAt | taskCompleteDate }}</p>
    } @else {
    <p>
        {{ this.task().dueDate | taskDueDate: this.task().isOverdue }}
    </p>
    }

    @for (tag of task().tags; track $index) {
    <p>️{{ tag }}</p>
    }
    <ng-template #footer>
        <div class="task-assignee">
            <span class="assignee-avatar">{{ task().assignee.avatar }}</span>
            <span class="assignee-name">{{ task().assignee.name | taskAssigneeName }}</span>
        </div>
    </ng-template>
</p-card>