<div class="task-container" [ngClass]="{'high-priority-task': task().priority === 'high' && task().isOverdue }">
    <div class="task-priority-tag">
        <span [ngClass]="priorityClass">{{task().priority
            | taskPriority}}</span>
    </div>
    <p class="task-title mb-1">{{ task().title }}</p>
    <p class="muted-text">{{ task().description }}</p>
    @if (task().completedAt) {
    <p class="muted-text mb-1">{{ task().completedAt | taskCompleteDate }}</p>
    } @else {
    <p class="muted-text mb-1">
        {{ this.task().dueDate | taskDueDate: this.task().isOverdue }}
    </p>
    }
    <div class="task-tags">
        @for (tag of task().tags; track $index) {
        <p>️{{ tag }}</p>
        }
    </div>
    <div class="task-assignee">
        <span class="assignee-avatar">{{ task().assignee.avatar }}</span>
        <span class="assignee-name">{{ task().assignee.name | taskAssigneeName }}</span>
    </div>
</div>